

*
    box-sizing: border-box
    padding: 0
    margin: 0


    // Floating Text 
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #7374b9

// h1
//     text-align: center          
//     color: #fff
//     font-family: Arial
//     font-size: 90px
//     line-height: 90px
//     letter-spacing: 15px
//     text-shadow:  0 30px 5px rgba(0, 0, 0, 0.1)
//     animation: float 3s linear infinite

// @keyframes float
//     0%
//         transform: rotate(6deg)
//     50%
//         transform: rotate(-6deg)
//     100%
//         transform: rotate(6deg)


    // Loading Text Animation
body
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh  
    background-color: #ffffff

ul
    margin: 0
    padding: 0
    display: flex
    li
        list-style-type: none
        font-size: 90px
        letter-spacing: 20px
        animation: loading 3s linear infinite

@keyframes loading 
    0%
        color: red   
        transform: translateX(-50px)    
        letter-spacing: 20px
    50%
        letter-spacing: -20px    
    100%
        color: blue   
        transform: translateX(50px)
        letter-spacing: 20px
