

*
    box-sizing: border-box
    padding: 0
    margin: 0


    // Floating Text 
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #7374b9

// h1
//     text-align: center          
//     color: #fff
//     font-family: Arial
//     font-size: 90px
//     line-height: 90px
//     letter-spacing: 15px
//     text-shadow:  0 30px 5px rgba(0, 0, 0, 0.1)
//     animation: float 3s linear infinite

// @keyframes float
//     0%
//         transform: rotate(6deg)
//     50%
//         transform: rotate(-6deg)
//     100%
//         transform: rotate(6deg)


    // Loading Text Animation
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #ffffff

// ul
//     margin: 0
//     padding: 0
//     display: flex
//     li
//         list-style-type: none
//         font-size: 90px
//         letter-spacing: 20px
//         animation: loading 3s linear infinite
//         &:nth-child(1)
//             animation-delay: 0s
//         &:nth-child(2)
//             animation-delay: 0.2s
//         &:nth-child(3)
//             animation-delay: 0.4s
//         &:nth-child(4)
//             animation-delay: 0.6s
//         &:nth-child(5)
//             animation-delay: 0.8s
//         &:nth-child(6)
//             animation-delay: 1s
//         &:nth-child(7)
//             animation-delay: 1.2s
            

// @keyframes loading 
//     0%
//         color: red   
//         transform: translateX(-50px)    
//         letter-spacing: 20px
//         opacity: 0
//     10%
//         opacity: 1    
//     50%
//         letter-spacing: -20px    
//     100%
//         color: blue   
//         transform: translateX(50px)
//         letter-spacing: 20px
//         opacity: 0


    // Rain Effect 
// body
//     height: 100vh
//     background: url('https://media.istockphoto.com/id/1406584450/photo/dark-fantasy-medieval-castle-in-rocky-landscape-by-a-lake-with-moody-grey-clouds-3d-rendering.webp?b=1&s=170667a&w=0&k=20&c=GbreOUNzfPvj5Hl5LeeisngglnmUp2KZX-uTzHnV_z4=')      
//     background-repeat: no-repeat
//     background-size: cover

// .rain
//     height: 100%
//     background: url(../assets/rain.png)
//     animation: rain 0.3s linear infinite

// @keyframes rain
//     0%
//         background-position: 0% 0%
//     100%
//         background-position: 20% 100%    


    // Text Rotator
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #ffffff     

// h1
//     font-size: 60px

// span
//     &::before
//         content: 'Morning'  
//         color: #3b84d6      
//         animation: word-switch 4s linear infinite      

// @keyframes word-switch
//     0%
//         content: 'Morning'
//     50%
//         content: 'Day'
//     100%
//         content: 'Night' 
                

    // Shaking Button
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #000

// a
//     font-size: 60px 
//     font-family: sans-serif 
//     text-decoration: none     
//     color: #fff          
//     border: 3px solid #fff
//     padding: 10px 20px   
//     transition: all 0.3s
//     &:hover
//         color: #5c59ff
//         border: 3px solid #5c59ff
//         animation: shake 0.3s linear 1

// @keyframes shake
//     33%
//         transform: rotate(10deg)    
//     66%
//         transform: rotate(-10deg)
//     100%
//         transform: rotate(10deg)        


    // Lightning Text
body
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh  
    background-color: #303030

ul
    display: flex
    flex-direction: row    
    li
        list-style: none
        font-size: 90px
        font-family: sans-serif
        color: #1b1b1b
        letter-spacing: 6px
        animation: lightning 2.7s linear infinite
        &:nth-child(2)
            animation-delay: 0.3s
        &:nth-child(3)
            animation-delay: 0.6s
        &:nth-child(4)
            animation-delay: 0.9s
        &:nth-child(5)
            animation-delay: 1.2s
        &:nth-child(6)
            animation-delay: 1.5s
        &:nth-child(7)
            animation-delay: 1.8s
        &:nth-child(8)
            animation-delay: 2.1s
        &:nth-child(9)
            animation-delay: 2.4s
            

@keyframes lightning 
    0%
        color: #1b1b1b
        text-shadow: none
    90%
        color: #1b1b1b
        text-shadow: none
    100%
        color: #9d4ec2
        text-shadow: 0 0 6px #9d4ec2, 0 0 60px #9d4ec2


