

*
    box-sizing: border-box
    padding: 0
    margin: 0


    // Floating Text 
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #7374b9

// h1
//     text-align: center          
//     color: #fff
//     font-family: Arial
//     font-size: 90px
//     line-height: 90px
//     letter-spacing: 15px
//     text-shadow:  0 30px 5px rgba(0, 0, 0, 0.1)
//     animation: float 3s linear infinite

// @keyframes float
//     0%
//         transform: rotate(6deg)
//     50%
//         transform: rotate(-6deg)
//     100%
//         transform: rotate(6deg)


    // Loading Text Animation
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #ffffff

// ul
//     margin: 0
//     padding: 0
//     display: flex
//     li
//         list-style-type: none
//         font-size: 90px
//         letter-spacing: 20px
//         animation: loading 3s linear infinite
//         &:nth-child(1)
//             animation-delay: 0s
//         &:nth-child(2)
//             animation-delay: 0.2s
//         &:nth-child(3)
//             animation-delay: 0.4s
//         &:nth-child(4)
//             animation-delay: 0.6s
//         &:nth-child(5)
//             animation-delay: 0.8s
//         &:nth-child(6)
//             animation-delay: 1s
//         &:nth-child(7)
//             animation-delay: 1.2s
            

// @keyframes loading 
//     0%
//         color: red   
//         transform: translateX(-50px)    
//         letter-spacing: 20px
//         opacity: 0
//     10%
//         opacity: 1    
//     50%
//         letter-spacing: -20px    
//     100%
//         color: blue   
//         transform: translateX(50px)
//         letter-spacing: 20px
//         opacity: 0


    // Rain Effect 
// body
//     height: 100vh
//     background: url('https://media.istockphoto.com/id/1406584450/photo/dark-fantasy-medieval-castle-in-rocky-landscape-by-a-lake-with-moody-grey-clouds-3d-rendering.webp?b=1&s=170667a&w=0&k=20&c=GbreOUNzfPvj5Hl5LeeisngglnmUp2KZX-uTzHnV_z4=')      
//     background-repeat: no-repeat
//     background-size: cover

// .rain
//     height: 100%
//     background: url(../assets/rain.png)
//     animation: rain 0.3s linear infinite

// @keyframes rain
//     0%
//         background-position: 0% 0%
//     100%
//         background-position: 20% 100%    


    // Text Rotator
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #ffffff     

// h1
//     font-size: 60px

// span
//     &::before
//         content: 'Morning'  
//         color: #3b84d6      
//         animation: word-switch 4s linear infinite      

// @keyframes word-switch
//     0%
//         content: 'Morning'
//     50%
//         content: 'Day'
//     100%
//         content: 'Night' 
                

    // Shaking Button
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #000

// a
//     font-size: 60px 
//     font-family: sans-serif 
//     text-decoration: none     
//     color: #fff          
//     border: 3px solid #fff
//     padding: 10px 20px   
//     transition: all 0.3s
//     &:hover
//         color: #5c59ff
//         border: 3px solid #5c59ff
//         animation: shake 0.3s linear 1

// @keyframes shake
//     33%
//         transform: rotate(10deg)    
//     66%
//         transform: rotate(-10deg)
//     100%
//         transform: rotate(10deg)        


    // Lightning Text
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #303030

// ul
//     display: flex
//     flex-direction: row    
//     li
//         list-style: none
//         font-size: 90px
//         font-family: sans-serif
//         color: #1b1b1b
//         letter-spacing: 6px
//         animation: lightning 2.7s linear infinite
//         &:nth-child(2)
//             animation-delay: 0.3s
//         &:nth-child(3)
//             animation-delay: 0.6s
//         &:nth-child(4)
//             animation-delay: 0.9s
//         &:nth-child(5)
//             animation-delay: 1.2s
//         &:nth-child(6)
//             animation-delay: 1.5s
//         &:nth-child(7)
//             animation-delay: 1.8s
//         &:nth-child(8)
//             animation-delay: 2.1s
//         &:nth-child(9)
//             animation-delay: 2.4s
            

// @keyframes lightning 
//     0%
//         color: #1b1b1b
//         text-shadow: none
//     90%
//         color: #1b1b1b
//         text-shadow: none
//     100%
//         color: #9d4ec2
//         text-shadow: 0 0 6px #9d4ec2, 0 0 60px #9d4ec2


    // Changing Background Effect
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #303030
//     animation: bgchange 10s linear infinite

// h1
//     font-size: 60px
//     font-family: sans-serif    
//     color: #fff
//     text-shadow: 0 0 10px #fff
    
// @keyframes bgchange
//     0%
//         background-color: #000
//     20%
//         background-color: #222
//     40%
//         background-color: #444
//     60%
//         background-color: #666
//     80%
//         background-color: #444
//     100%
//         background-color: #222


    // Text Reveal Effect
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #303030
    
// h1
//     color: #fff
//     font-size: 45px
//     font-family: sans-serif
//     text-transform: uppercase
//     letter-spacing: 5px
//     position: relative
//     &::before
//         content: 'loading...'
//         position: absolute
//         font-size: 45px
//         top: 0
//         left: 0
//         width: 100%
//         color: #eeea0e
//         overflow: hidden
//         border-right: 3px solid #eeea0e
//         animation: reveal 2s linear infinite

// @keyframes reveal
//     0%
//         width: 0
//     50%
//         width: 100%
//     100%
//         width: 0        


    // Loading Lines Effect
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #303030    

// .loading
//     display: flex
//     gap: 0 10px
    
// .obj
//     width: 6px  
//     height: 30px
//     background-color: #fff  
//     animation: loading 0.6s linear infinite
//     &:nth-child(2)
//         animation-delay: 0.2s
//     &:nth-child(3)
//         animation-delay: 0.3s
//     &:nth-child(4)
//         animation-delay: 0.4s
//     &:nth-child(5)
//         animation-delay: 0.5s
//     &:nth-child(6)
//         animation-delay: 0.6s
//     &:nth-child(7)
//         animation-delay: 0.7s
    
// @keyframes loading 
//     0%
//         transform: scaleY(0)
//     50%
//         transform: scaleY(1)
//     100%
//         transform: scaleY(0)


    //Neon Light Effect
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #051330

// a
//     color: #03e9f4
//     text-decoration: none    
//     text-transform: uppercase
//     font-family: sans-serif
//     font-size: 30px
//     position: relative
//     display: inline-block
//     padding: 15px 30px
//     letter-spacing: 3px
//     transition: 0.6s
//     -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
//     overflow: hidden
//     &:hover
//         background: #03e9f4
//         color: #051130
//         box-shadow: 0 0 6px #03e9f4, 0 0 30px #03e9f4, 0 0 60px #03e9f4, 0 0 180px #03e9f4
//         span
//             &:nth-child(1)
//                 background: linear-gradient(90deg, transparent, #051330)
//             &:nth-child(2)
//                 background: linear-gradient(90deg, transparent, #051330)
//             &:nth-child(3)
//                 background: linear-gradient(90deg, transparent, #051330)
//             &:nth-child(4)
//                 background: linear-gradient(90deg, transparent, #051330)
//     span
//         &:nth-child(1)
//             position: absolute
//             display: block
//             top: 0
//             left: 0
//             width: 100%
//             height: 2px
//             background: linear-gradient(90deg, transparent, #03e9f4)
//             animation: FirstSpanAnimation 1.5s linear infinite
//     span
//         &:nth-child(2)
//             position: absolute
//             display: block
//             top: -100%
//             right: 0
//             width: 2px
//             height: 100%
//             background: linear-gradient(90deg, transparent, #03e9f4)
//             animation: SecondSpanAnimation 1.5s linear infinite
//     span
//         &:nth-child(3)
//             position: absolute
//             display: block
//             bottom: 0
//             right: -100%
//             width: 100%
//             height: 2px
//             background: linear-gradient(90deg, transparent, #03e9f4)
//             animation: ThirdSpanAnimation  1.5s linear infinite 
//             transform: rotateZ(180deg)  
//     span
//         &:nth-child(4)
//             position: absolute
//             display: block
//             top: -100%
//             left: 0
//             width: 2px
//             height: 100%
//             background: linear-gradient(90deg, transparent, #03e9f4)
//             animation: FourthSpanAnimation 1.5s linear infinite             

            
// @keyframes FirstSpanAnimation 
//     0%
//         left: -100%
//     50%, 100%
//         left: 100%

// @keyframes SecondSpanAnimation 
//     0%
//         top: -100%
//     50%, 100%
//         top: 100%

// @keyframes ThirdSpanAnimation 
//     0%
//         right: -100%
//     50%, 100%
//         right: 100%

// @keyframes FourthSpanAnimation 
//     0%
//         top: 100%
//     50%, 100%
//         top: -100%



    // Glassmorphism Animation Effect
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #020e33

// .loader
//     position: relative
//     width: 150px
//     height: 150px    
//     span
//         position: absolute
//         width: 100%
//         height: 100%
//         border-radius: 50%
//         &:nth-child(1)
//             background: rgba(255, 255, 255, 0.1)
//             backdrop-filter: blur(10px)
//             z-index: 2
//         &:nth-child(2)
//             background: #d30de6
//             border-radius: 0%
//             clip-path: polygon(50% 0%, 0% 100%, 100% 100%)
//             transform: scale(0.6)
//             animation: formAnimation 3s linear infinite
//         &:nth-child(3)
//             background: #321b9b
//             border-radius: 50%
//             transform: scale(0.6)
//             animation: formAnimation 3s linear infinite
//             animation-delay: -1.5s
            

// @keyframes formAnimation 
//     0%
//         transform: translate(-150px, 50px) scale(0.3) rotate(0deg)
//         z-index: 1
//     50%
//         transform: translate(150px, -50px) scale(0.3) rotate(180deg)
//         z-index: 1
//     50.001%
//         transform: translate(150px, -50px) scale(0.3) rotate(180deg)
//         z-index: 3
//     100%
//         transform: translate(-150px, 50px) scale(0.3) rotate(360deg)
//         z-index: 3


    // Glowing Loader
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #010f1f

// .loader
//     position: relative
//     height: 120px
//     width: 120px
//     span
//         position: absolute
//         top: 0
//         left: 0
//         width: 100%
//         height: 100%
//         transform: rotate(calc(18deg * var(--i)))
//         &::before
//             content: ''
//             position: absolute
//             top: 0
//             left: 0
//             width: 15px
//             height: 15px
//             border-radius: 50%
//             background: #e700fc
//             box-shadow: 0 0 10px #e700fc, 0 0 20px #e700fc, 0 0 40px #e700fc, 0 0 60px #e700fc, 0 0 100px #e700fc
//             animation: loaderScaleAnimation 1s linear infinite
//             animation-delay: calc(0.3s * var(--i))
    
// @keyframes loaderScaleAnimation
//     0%
//         transform: scale(1)
//     80%, 100%
//         transform: scale(0)    
        

    // Rotating Glowing Loader
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #001d30

// .loader
//     position: absolute
//     width: 150px
//     height: 150px
//     background: linear-gradient(0deg, rgba(0, 30, 48, 1) 40%, rgba(81, 237, 237, 1) 100%)
//     border-radius: 50%
//     animation: loaderAnimation 3s linear infinite
//     &::before
//         content: ''
//         position: absolute
//         inset: 20px 20px 0 0
//         background: #001d30
//         border-radius: 50%
//     &::after
//         content: ''
//         position: absolute
//         width: 40px
//         height: 40px
//         background: rgba(81, 237, 237, 1) 
//         border-radius: 50%
//         top: 50px
//         right: -8px
//         box-shadow: 0 0 10px rgba(81, 237, 237, 1), 0 0 30px rgba(81, 237, 237, 1), 0 0 60px rgba(81, 237, 237, 1), 0 0 100px rgba(81, 237, 237, 1)

// @keyframes loaderAnimation
//     100%
//         transform: rotate(360deg)


    // Liquid Glass Animation
// section
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #222   
//     gap: 30px 

// .glass
//     position: relative       
//     & .inner
//         position: relative  
//         width: 200px
//         height: 400px
//         background: rgba(255, 255, 255, 0.1)
//         border-radius: 40px
//         border: 3px solid transparent
//         &::before
//             content: ''
//             position: absolute
//             width: 180px
//             height: 30px
//             border: 10px solid #444
//             border-radius: 50%
//             left: 50%
//             top: -9px
//             transform: translateX(-50%)
//             box-shadow: 0 15px 0 #222
//         &::after
//             content: ''
//             position: absolute
//             top: 90px
//             left: 30px
//             width: 50px
//             height: 270px
//             background-color: rgba(255, 255, 255, 0.1)
//     &:nth-child(2) .liquid
//         background-color: #0d007e
//         animation-delay: 0.5s 
//         &::before
//             background-color: #08004e
                    
// .liquid
//     position: absolute
//     top: 60px
//     left: 5px
//     right: 5px
//     bottom: 5px
//     background: #de37ff
//     border-bottom-left-radius: 30px        
//     border-bottom-right-radius: 30px
//     animation: liquidAnimation 3s linear infinite
//     &::before
//         content: ''
//         position: absolute
//         width: 100%
//         height: 20px
//         top: -10px
//         border-radius: 50%
//         background-color: #ba36d4   
         

// @keyframes liquidAnimation
//     0%, 20%
//         top: 50px
//     50%, 70%
//         top: 320px
//     100%
//         top: 50px    


    // Fancy Border Loading
// section
//     display: flex
//     justify-content: center
//     align-items: center
//     min-height: 100vh  
//     background-color: #111

// .loader
//     position: relative
//     width: 200px
//     height: 200px
//     display: flex
//     justify-content: center
//     align-items: center
//     h2  
//         font-family: sans-serif  
//         color: #fff   
//     span
//         position: absolute
//         top: 0
//         left: 0
//         width: 100%
//         height: 100%
//         border-radius: 50%
//         border: 2px solid #fff
//         animation: fancyBorderAnimation 3s linear infinite
//         &:nth-child(1)
//             border-radius: 32% 69% 60% 41% / 52% 33% 69% 48%
//         &:nth-child(2)
//             border-radius: 66% 36% 45% 57% / 69% 66% 33% 30%
//             animation-direction: reverse
//             animation-delay: 1s
//         &:nth-child(3)
//             border-radius: 45% 57% 51% 48% / 69% 30% 39% 30%
//             animation-direction: reverse
//             animation-duration: 1.5s

// @keyframes fancyBorderAnimation
//     0%
//         transform: rotate(0deg)
//     100%
//         transform: rotate(360deg)


    // Background moving boxes
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     height: 100vh  
//     background-color: #333

// .container
//     position: relative
//     width: 100%
//     height: 100%    
//     overflow: hidden
//     & .text
//         position: absolute
//         top: 50%
//         left: 50%
//         transform: translate(-50%, -50%)
//         color: #fff
//         font-size: 30px
//         font-family: sans-serif
//         text-transform: uppercase
//         border-top: 2px solid #fff
//         border-bottom: 2px solid #fff
//         padding: 10px 0px
//     & .square
//         position: absolute
//         bottom: -100px
//         background-color: #9e9e9e
//         animation:  boxesAnimation 10s linear infinite
//         &:nth-child(1)
//             height: 30px
//             width: 30px
//             left: 10% 
//             animation-delay: 1s
//         &:nth-child(2)
//             height: 40px
//             width: 40px
//             left: 20% 
//             animation-delay: 4s
//         &:nth-child(3)
//             height: 50px
//             width: 50px
//             left: 30% 
//             animation-delay: 9s
//         &:nth-child(4)
//             height: 60px
//             width: 60px
//             left: 40% 
//             animation-delay: 2s
//         &:nth-child(5)
//             height: 30px
//             width: 30px
//             left: 50% 
//             animation-delay: 5s
//         &:nth-child(6)
//             height: 40px
//             width: 40px
//             left: 60% 
//             animation-delay: 8s
//         &:nth-child(7)
//             height: 50px
//             width: 50px
//             left: 70% 
//             animation-delay: 3s
//         &:nth-child(8)
//             height: 60px
//             width: 60px
//             left: 80% 
//             animation-delay: 6s
//         &:nth-child(9)
//             height: 30px
//             width: 30px
//             left: 90% 
//             animation-delay: 1s
//         &:nth-child(10)
//             height: 40px
//             width: 40px
//             left: 100% 
//             animation-delay: 4s
            
// @keyframes boxesAnimation
//     0%
//         bottom: -100px
//     100%
//         bottom: 100%
//         transform: rotate(180deg)
//         opacity: 0


    // Rotating Ring Loader
// body
//     display: flex
//     justify-content: center
//     align-items: center
//     height: 100vh  
//     background-color: #fff

// .container
//     position: relative
//     width: 200px
//     height: 200px    
//     & .ring
//         width: 100%
//         height: 100%
//         border-left: 3px solid #262626
//         border-radius: 50%
//         animation:  ringAnimation 1.8s linear infinite
//     & .text
//         font-size: 25px
//         position: absolute
//         top: 0
//         left: 0
//         width: 100%
//         height: 100%
//         text-align: center
//         line-height: 200px    

// @keyframes ringAnimation
//     0%
//         transform: rotate(0deg)
//     100%
//         transform: rotate(360deg)


    // Pulse Effect
body
    display: flex
    justify-content: center
    align-items: center
    height: 100vh  
    background-color: #333

.pulse
    width: 100px
    height: 100px
    background-color: #d15eff
    color: #fff
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    i
        font-size: 30px













